.homepage{
    margin-top: -2%;
}
.yellow_line1{
    border: 5px solid #F7CA18;
    width: 946px;
    margin-top: 5%;
}
.homepage_name{
    font-family: href="https://fonts.google.com/specimen/Volkhov";
    font-size: 75px;
    line-height:0.8;
    color:#47525E;
    z-index: 1;
}
.tengah{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_page{
    font-family: href="https://fonts.google.com/specimen/Volkhov";
    color: #47525E;
    font-size: 65px;
    margin-top: 10%;
    margin-left: 52px;
}
.content_text{
    font-family: href="https://fonts.google.com/specimen/Volkhov";
    color: #47525E;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.navbar{
    font-family: 'Roboto';
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 13px;

}
#header_title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#judul{
    font-family: href="https://fonts.google.com/specimen/Volkhov";
    color: #47525E;
    font-size: 25px;
}
.image{
    width: 250px;
    position: relative;
    margin-right: -5%;
}
.content_pos{
    display: flex;
    flex-direction: column;
}
#main_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    margin-left: 10%;
    margin-right:20%;
}
.yellow_line2{
    border: 15px solid #F7CA18;
    width: 585px;
    margin-left: 7%;
    position: absolute;
    margin: 87px 0 0 -26px;
}
.text_size{
    width: 493px;
    height: 81px;
    margin-left: 11%;
    margin-top: -58px;
    position: absolute;
    margin-left: 12.5%;
    margin-top: -3.5%;
}
.rectangle {
    height: 99px;
    width: 15px;
    background-color:#F7CA18;
    margin-top: -65px;
    margin-left: 10%;
}
#navbarBasicExample {
    display: flex;
    justify-content: center;
    width: 100vw;
}
#navbarBasicExample a div {
    margin: 0 10px;
    text-align: center;
}
.miniFont{
    font-size:13px;
}
.contact-pos{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
    justify-content: space-evenly;
} 
.hor-pos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 30%;
}
.is100{
    width:100%;
}
.icon{
    width:15%
}
.page4-content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 5%;
}
.contact{
    font-family: href="https://fonts.google.com/specimen/Volkhov";
    color: #47525E;
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-style: italic;
}
.error-png{
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;  
}
.page2{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.title-page2{
    display:flex;
    justify-content: center;
    flex-direction: row;
    font-family: href="https://fonts.google.com/specimen/Roboto";
    font-size: 150%;
}
.tp2{
    width:30%;
    display:flex;
    justify-content: center;
}
.page2-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 2%;
}
.par-1{
    color: #47525E;
    font-family: href="https://fonts.google.com/specimen/Roboto";
    width: 20%;
    font-size: 90%;
    line-height: 1.2;
}
.par-2{
    color: #47525E;
    font-family: href="https://fonts.google.com/specimen/Roboto";
    width: 40%;
    font-size: 90%;
}
.competencies{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
}
.comp-items{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.details{
    font-family: href="https://fonts.google.com/specimen/Roboto";
    margin: 3%;
    font-size: 100%; 
}

.page3{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    /* border-left:10%; */
    border-right:10%;
}
.par-page3{
    font-family: href="https://fonts.google.com/specimen/Roboto";
    width: 90%;
    font-size: 120%;
}
.interest-par{
    font-family: href="https://fonts.google.com/specimen/Roboto";
    font-size:100%;
}
.interest-pos{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.interest-pos img{
    width: 50.24px;
    height: 50.24px;
}
.pospos{
    display:flex;
    align-items: center;
    flex-direction: row;
    width:50%;
}
.pospos2{
    display:flex;
    align-items: center;
    flex-direction: column;
    width:50%;
}
.hed{
    font-family: href="https://fonts.google.com/specimen/Roboto";
    font-size:200%;
    display:flex;
    justify-content: center;
}
.playlist{
    display:flex;
    justify-content: center;
    align-items: center;
}
.lastpage{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.desc{
    font-family: href="https://fonts.google.com/specimen/Roboto";
    font-size:100%;
    width: 40%;
    display: flex;
    justify-content: center;
    margin-bottom:3%;
}